

@{
    ViewData["Title"] = "Company Dashboard Page";
}
<html>
  <head>
    <link href="~/css/company-login.css" rel="stylesheet" />
  </head>
  <body class="company-login-page-wrapper">
    <h2>Company Dashboard </h2>
  </body>
</html>
